@model List<LSFDictionary.Models.Dictionary>
@{
    ViewBag.Title = "ajaxJeux";
}
<header class="intro-header intro-header-img">
    <div class="container body-content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h2>Jeux</h2>
                    <br />
                    <div>
                        @{
                            for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td></td>
                                    <td>
                                        @{
                                            if (Model[i].Valide == 1)
                                            {
                                                <div class="video-mask">
                                                    <center>
                                                        <video width="600" controls>
                                                            <source src="@Model[i].Value" type="video/mp4">
                                                        </video>
                                                    </center>
                                                </div>
                                            }
                                        }
                                    </td>
                                </tr>
                                            }
                        }
                        <br />
                        <td>Trouve le mots qui correspond à la vidéo</td>
                        <br />
                        <br />
                        <tr>
                            @{
                                for (int i = 0; i < Model.Count; i++)
                                {

                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td>
                                        @{
                                            if (Model[i].Valide == 1)
                                            {
                                                @Html.ActionLink(@Model[i].Key, "ajaxJeux", "Dictionary", new { scores = 1, id = 1 }, null)
                                            }
                                            else
                                            {
                                                @Html.ActionLink(@Model[i].Key, "ajaxJeux", "Dictionary", new { scores = 0, id = 1 }, null)
                                            }
                                        }
                                    </td>
                                            }
                            }
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <SCRIPT language="Javascript">
        var reponse = 1;
    function Mauvaise() {
    alert('Ba dit donc bonhomme t\'as pas révisé ?');
    reponse = 0;
    }
    </SCRIPT>
</header>



